.venue_wrapper {
  max-width: 80vw;
  margin: 0 auto 2rem;

  .venue_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    color: #4c5b63;
  }

  .venue_container {
    max-width: 80vw;
    margin: 0 auto 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
  }
}
