.venue_wrapper {
  max-width: 80vw;
  margin: 0 auto 2rem;

  .venue_container {
    max-width: 80vw;
    margin: 0 auto 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
  }
}

.venue{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4c5b63;
  margin: 1.5rem;
  .venue_left{
    font-size: 1.2rem;
  }
  .venue_right {
    cursor: pointer;
  }
}
