.hero_container {
  background: url('../../assets/hero-image.png') no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  .hero_details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 70vh;
    color: #fff;

    h1 {
      margin-bottom: 0.5rem;
      font-size: 2rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}
