a {
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #4c5b63;
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.gray {
  color: white;
  background-color: #4c5b63;
}

.white {
  color: #4c5b63;
  background-color: white;
}

.border {
  border: 2px solid #4c5b63;
}
