a {
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  color: #4c5b63;
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
}

.gray {
  color: white;
  background-color: #4c5b63;
}
