.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: #f3f6f8;

  ul {
    display: flex;
    gap: 2rem;
    li {
      a {
        font-size: 1rem;
        color: #333;
        text-transform: uppercase;
        list-style: none;
        text-decoration: none;
      }
    }
  }

  .btn {
    display: flex;
    align-items: center;
    gap: 1.1rem;

    button {
      background-color: #fff;
      color: #4c5b63;
    }
  }
}
