.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: #F3F6F8;
  .header_logo{
    font-size: 1.2rem;
    color: #4c5b63;
  }
  .btn {
    display: flex;
    align-items: center;
    gap: 1.1rem;

    button {
      background-color: #fff;
      color: #4c5b63;
    }
  }
}
